{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
  <h1>holaaaaaaa</h1>
  <p>Estas en tu Dashboard</p>
</div>
</div>
</div>
{% endblock %}